/package-lock.json
/ТЗ к CRM  системе Роль Учитель.pdf
/ТЗ к CRM  системе — копия.pdf
/ТЗ_к_CRM_ системе_Роль_Админ_работник.pdf
/ТЗ_к_CRM_ системе_Роль_Руководитель.pdf
/ТОУ пример.pdf
.env
.env.local